.tag-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.agency-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}