.zgradient {
  background: linear-gradient(
    151.27deg,
    #a188ef -0.15%,
    #4f8df5 37.39%,
    #00e3ec 51.98%,
    #f4c042 66.58%,
    #ee2238 99.95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.i {
  color: red;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute;
  color: white;
}
