.StatisticsHighlightsContent {
    display: flex;
    padding: 7px 7px 7px 15px;
    border: 2px solid rgb(163, 158, 158);
    flex-grow: 1;
    border-radius: 10px;
    max-width: 50%;
    position: static;
}

.StatisticsHighlightsContent:not(:first-of-type) {
    margin-left: 1rem;
}

.StatisticsHighlightsContentText {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.StatisticsHighlightsContentText > span {
    font-size: 1.3rem;
    font-weight: 600;
}

/*
apply a filter on the image
.imageFilter {
    filter: grayscale(80%);
}*/

.StatisticsHighlightsContentText > p {
    color: #9c9c9c;
}

/*.StatisticsHighlightsContent > div {
    display: flex;
    padding : 3px;
    flex-direction: column;
}*/